
<link rel="stylesheet" href="<%= assetPath('css/user_profile.css') %>">

<div class="sign">
    <!-- <div class="sign_in"> -->
    <fieldset>
        <legend>SIGN In</legend>
<form action="/users/create-session" method="POST">
    
    <p>Email: <input type="email" name="email" placeholder="Email"  required></p>

    <p>Password: <input type="password" name="password" placeholder="Password"  required></p>
    <p>
    <input type="submit" value="Sign In">
</p>
<div class="google"
    <p>
        <a href="/users/auth/google">Google Sign In/Sign Up</a>
    </p>
</div>
</fieldset>
</form>
</div>
</div>
<h4>

</h4>
